<h2>Your profile</h2>
<%= form_for @user do |f| %>

  <div class="new-user">
    <%= f.label :email %><br/>
    <%= f.email_field :email %><br />
  </div>

  <div class="new-user">
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name %><br />
  </div>

  <div class="new-user">
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %><br />
  </div>

  <div class="new-user">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="new-user">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="new-user">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
